.detail-wrap {
    width: 100vw;
    height: 100vh;

    .detail-box {
        margin: 0 auto;
        width: 1200px;
        padding-top: 40px;
        display: flex;

        .left {
            width: 458px;

            .current-img {
                width: 400px;
                height: 400px;

                img {
                    width: 400px;
                    height: 400px;
                }
            }

            .img-wrap {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;

                .img-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 76px;
                        border-radius: 8px;
                        height: 76px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .right {
            padding-left: 80px;
            min-height: 418px;

            .title {
                font-size: 22px;
                line-height: 22px;
                color: #232628;
                font-weight: bold;
            }

            .price {
                margin-top: 12px;
                padding: 12px 40px;
                background: #F3F5F7;
                border-radius: 8px 8px 0px 0px;

                .top-price {

                    font-size: 13px;
                    line-height: 18px;
                    color: #71797F;

                    .color {
                        font-size: 30px;
                        line-height: 30px;
                        color: #FF3D12;
                    }

                    .line-price {
                        text-decoration: line-through;
                        color: #71797F;
                        font-size: 13px;
                        margin-left: 6px;
                    }
                }

                .sale {
                    margin-top: 20px;
                    padding-bottom: 20px;

                    .color {
                        font-weight: normal;
                        color: #FF3D12;

                    }
                }
            }

            .detail-info {
                margin-top: 12px;
                padding: 12px 0;
                background: transparent;
                border-bottom: 1px solid #e7ebef;
            }

            .info-item {
                margin-top: 12px;
                display: flex;

                .info-name {
                    width: 80px;
                    padding-left: 12px;
                    font-size: 13px;
                    line-height: 18px;
                    color: #71797F;
                }

                .info-content {
                    display: inline-block;
                    width: 580px;
                    font-size: 13px;
                    line-height: 18px;
                    color: #232628;
                    vertical-align: top;
                    text-align: justify;
                    padding-right: 36px;
                }
            }

            .send-info {
                margin: 40px;
            }

            .btn-group {
                padding-left: 40px;
                display: flex;
                align-items: center;

                .btn-gourp-item {
                    width: 208px;
                    height: 56px;
                    margin-right: 40px;
                    border-radius: 28px;
                    font-size: 22px;
                    font-weight: bold;
                    text-align: center;
                }

                .addCart {
                    color: #FF734C;
                    line-height: 54px;
                    border: 1px solid rgba(255, 115, 76, 0.2);
                    background: #FFF0EC;
                }

                .buy {
                    color: #fff;
                    line-height: 56px;
                    background: #FF734C;
                    background: -webkit-gradient(linear, left top, right top, from(#ff734c), to(#ff3d12));
                    background: -webkit-linear-gradient(left, #ff734c 0%, #ff3d12 100%);
                    background: -o-linear-gradient(left, #ff734c 0%, #ff3d12 100%);
                    background: linear-gradient(90deg, #ff734c 0%, #ff3d12 100%);
                }
            }
        }
    }

    .other {
        margin: 0 auto;
        width: 1200px;
        padding-top: 40px;
        display: flex;
        flex-direction: column;

        .tab {
            margin: 0 auto;
            width: 980px;
            height: 50px;
            background: #F3F5F7;
            margin-bottom: 20px;
            font-size: 14px;
            color: #232628;
            width: 100%;
            display: flex;
            align-items: center;
            height: 50px;
            padding-left: 40px;

            .tab-item {
                padding: 0 50px;
                font-size: 16px;
                line-height: 50px;
                height: 50px;
                color: #232628;
                vertical-align: top;
                cursor: pointer;
            }

            .active {
                font-weight: bold;
                color: red;
            }
        }

        .content {
            .detail-comment-item {
                padding: 20px 0;
            }

            .detail-comment-item-user {
                display: inline-block;
                width: 190px;
                padding-left: 20px;
                text-align: center;
                vertical-align: top;

                .detail-comment-item-avatar {
                    padding: 0 10px;

                    img {
                        width: 48px;
                        height: 48px;
                        vertical-align: middle;
                        border-radius: 50%;
                        overflow: hidden;
                    }

                    span {
                        display: inline-block;
                        vertical-align: middle;
                        width: 100px;
                        font-size: 13px;
                        line-height: 18px;
                        color: rgba(35, 38, 40, 0.7);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }

            .detail-comment-item-main {
                display: inline-block;
            }

            .tm-m-photos {
                zoom: 1
            }



            .stars5 {}

            .star-item {
                display: inline-block;
                vertical-align: middle;
                width: 16px;
                height: 16px;
                background-size: cover;
                background-repeat: no-repeat;
                margin-right: 4px;
                background-image: url(https://img02.hua.com/m/icon/star_red.png);
            }

            .detail-comment-item-content {
                width: 740px;
                margin: 16px 0 ;
            }
        }
    }
}