.top-nav{
    min-width: 1200px;
    width: 100vw;
    height: 40px;
    font-size: 12px;
    color: #71797F;
    background-color: #F3F5F7;
    position: fixed;
    top: 0;
    left: 0;
    .top-nav-wrapper{
      width: 1200px;
      margin: 0 auto;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .top-nav-l{
        display: flex;
      }
      .top-nav-r{
        display: flex;
      }
      .menu{
        margin: 0 12px;
      }
    } 
} 
.top-nav-place{
    width: 100vw;
    height: 40px;
}